* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    font-family: sans-serif;
    font-size: 16px;
    color: #4a4b4d;
}

.container {
    width: 300px;
    height: 344px;
    box-shadow: 3px 3px 5px #ccc,
                -3px -3px 3px white;
    border-radius: 25px;
    padding: 15px;
}

.title {
    text-align: center;
    font-size: 18px;
}

.title::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    margin-top: 15px;
    background-color: rgb(236, 188, 54);
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.height-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-right: 15px;
    padding-left: 3px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.icon-wrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 2px 2px 3px #ccc,
                -2px -2px 2px white;
}

.icon {
    font-size: 30px;
    color: rgb(20, 20, 214);
}

.input {
    height: 50px;
    margin-left: 12px;
    border:none;
    padding: 0 5px;
    width: 130px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px #ccc,
                -2px -2px 2px white;
    background-color: transparent;
    font-size: 17px;
    text-align: center;
}

.input:focus {
    box-shadow: 0px 0px 5px rgb(0, 60, 207);
}

.input:placeholder-shown {
    font-size: 18px;
    text-align: center;
}

.select {
    margin-left: 10px;
    height: 50px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 3px 3px 5px #ccc,
                -2px -2px 2px white;
    padding: 0 10px;
    border-radius: 15px;
    justify-content: center;
    font-size: 18px;
    color: #4a4b4d;
}

.select p {
    align-items: center;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.btn {
    border: none;
    background-color: rgb(82, 204, 88);
    padding: 15px 25px;
    border-radius: 25px;
    color:white;
    font-size: 18px;
    margin-top: 8px;
    box-shadow: 2px 2px 3px #ccc,
                -2px -2px 2px white;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(54, 197, 62);
}

.dialog {
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.dialog-btn {
    margin-top: 15px;
    width: 100px;
    padding: 10px 15px;
    align-self: center;
    background-color: rgb(32, 32, 223);
    margin-top: 25px;
}

.dialog-btn:hover {
    background-color: rgb(3, 3, 194);
    margin-top: 25px;
}

.result-icon-wrap {
    width: 70px;
    height: 70px;
    display: inline-block;
    box-shadow: 2px 2px 3px #ccc,
                -2px -2px 2px white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.result-icon-wrap i {
    font-size: 50px;
}

.normal {
    color: rgb(29, 172, 29);
}

.dialog-title {
    font-size: 20px;
    text-align: center;
}

.res {
    margin-top: 10px;
}

.dialog-container {
    height: 250px;
}

.display {
    display: flex !important;
}

.danger {
    color: red;
}

.warn {
    color: orange;
}